name: CD pipline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Print message hiiiiii
        run: echo "CI Pipeline executed successfully done"
